:root {
  --basecolor: #434455;
  --navyblue: #2e2f42;
  --iris: #4d5ae5;
  --slate: #434455;
  --white: #fff;
  --cornflower: #e7e9fc;
  --cloud: #f4f4fd;
  --ocean: #404bbf;
  --lightslate: #8e8f99;
  --green: #31d0aa;
  --navyblue-modal: rgba(46, 47, 66, 0.4);
  --weight400: 400;
  --weight500: 500;
  --weight700: 700;
  --weight800: 800;
}

h1,
h2,
h3,
h4,
h5,
h6,
p {
  margin: 0;
}

ul {
  margin: 0;
  padding-left: 0;
}

img {
  display: block;
}
input {
  font-family: inherit;
}
.container {
  width: 100%;
  max-width: 1140px;
  margin: 0 auto;
  padding-left: 15px;
  padding-right: 15px;
  outline: 2px solid #31d0aa;
}

.visually-hidden {
  position: absolute;
  width: 1px;
  height: 1px;
  margin: -1px;
  border: 0;
  padding: 0;
  white-space: nowrap;
  clip-path: inset(100%);
  clip: rect(0 0 0 0);
  overflow: hidden;
}

/* Studio */
body {
  font-family: "Roboto", sans-serif;
  color: var(--basecolor);
  background-color: var(--white);
}
ul {
  list-style-type: none;
}
.page-header .container {
  display: flex;
  justify-content: space-between;
}
.page-header {
  background: var(--white, #fff);
  border-bottom: 1px solid #e7e9fc;
  box-shadow: 0px 2px 1px rgba(46, 47, 66, 0.08),
    0px 1px 1px rgba(46, 47, 66, 0.16), 0px 1px 6px rgba(46, 47, 66, 0.08);
}
.page-nav {
  display: flex;
  align-items: center;
}
.page-nav .list {
  display: flex;
  gap: 40px;
}

address .list {
  display: flex;
  gap: 40px;
}
.logo {
  color: var(--iris);
  font-family: Raleway, sans-serif;
  font-size: 18px;
  font-weight: var(--weight800);
  line-height: 1.17;
  letter-spacing: 0.54px;
  text-transform: uppercase;
  text-decoration: none;
  margin-right: 76px;
}

.link-logo-web {
  color: var(--navyblue);
}

.link-logo-studio {
  color: var(--cloud);
}

.list {
  list-style-type: none;
}

.page-link {
  color: var(--navyblue);
  font-size: 16px;
  font-weight: var(--weight500);
  line-height: 1.5;
  letter-spacing: 0.32px;
  padding: 24px 0;
}
.page-link-menu {
  color: var(--ocean);
  font-size: 16px;
  font-weight: var(--weight500);
  line-height: 1.5;
  letter-spacing: 0.32px;
  padding: 24px 0;
  position: relative;
  transition: color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}
.page-link-menu::after {
  content: "";
  position: absolute;
  left: 0;
  right: 0;
  bottom: -1px;
  width: 100%;
  height: 4px;
  border-radius: 2px;
  background-color: var(--ocean);
}
.link {
  text-decoration: none;
}

.contacts .link {
  color: var(--slate);
}

.link:hover,
.link:focus {
  color: var(--ocean);
}
.contacts .list .link {
  font-weight: 400;
  transition: color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}
.contacts {
  color: var(--slate);
  font-size: 16px;
  line-height: 1.5;
  letter-spacing: 0.32px;
  font-style: normal;
  display: flex;
  align-content: flex-start;
  flex-shrink: 0;
  padding: 24px 0;
}
.section-solution .container {
  max-width: 1440px;
  width: 1128px;
  align-content: center;
  justify-content: center;
}
.section-solution {
  margin: 0 auto;
  background-color: var(--navyblue);
  max-width: 1440px;
  display: flex;
  flex-shrink: 0;
  text-align: center;
  align-content: center;
  justify-content: center;
  padding: 188px 0;
  background-image: linear-gradient(
      rgba(46, 47, 66, 0.7),
      rgba(46, 47, 66, 0.7)
    ),
    url(../images/hero-bg.jpg);
  background-repeat: no-repeat;
  background-position: center;
  background-size: cover;
}
.text-solution {
  /* background-color: var(--navyblue); */
  color: var(--white);
  font-size: 56px;
  line-height: 1.07;
  letter-spacing: 1.12px;
  max-width: 496px;
  width: 496px;
  margin: 0 auto;
  margin-bottom: 48px;
}

.button-service {
  font-family: "Roboto", sans-serif;
  color: var(--white);
  font-size: 16px;
  font-weight: var(--weight500);
  line-height: 1.5;
  letter-spacing: 0.64px;
  background: var(--iris);
  cursor: pointer;
  min-width: 169px;
  height: 56px;
  border: none;
  display: block;
  margin: 0 auto;
  padding: 16px 32px;
  border-radius: 4px;
  box-shadow: 0px 4px 4px 0px rgba(0, 0, 0, 0.15);
  transition: background-color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.button-service:hover,
.button-service:focus {
  background-color: var(--ocean);
}
/* .section-features .container {
  max-width: 1140px;
  width: 100%;
} */
.section-features {
  padding: 96px 0;
}

.features-list {
  display: flex;
  flex-wrap: wrap;
  gap: 72px;
  /* margin: 0; */
}

.title-features {
  color: var(--navyblue);
  font-size: 36px;
  font-weight: var(--weight500);
  line-height: 1.11;
  letter-spacing: 0.02em;
  margin-bottom: 8px;
  text-align: center;
}

/* .features-item {
  flex-basis: calc((100% - 3 * 24px) / 4);
} */

.text-features {
  color: var(--slate);
  font-size: 16px;
  line-height: 1.5;
  letter-spacing: 0.02em;
  text-align: left;
  align-self: stretch;
}
.features-icon-top {
  width: 100%;
  height: 112px;
  display: flex;
  align-items: center;
  justify-content: center;
  border-radius: 4px;
  background: var(--cloud);
  margin-bottom: 8px;
  display: none;
}



.section-doing .container {
  max-width: 1440px;
  width: 1128px;
}
.section-doing {
  padding-bottom: 120px;
}

.section-doing .list {
  display: flex;
  gap: 24px;
  margin: 0;
}

.title-make {
  color: var(--navyblue);
  font-size: 36px;
  font-weight: var(--weight500);
  line-height: 1.11;
  letter-spacing: 0.72px;
  text-transform: capitalize;
  margin-bottom: 72px;
  text-align: center;
}

.section-doing-img {
  flex-basis: calc((100% - 48px) / 3);
}

.section-team {
  padding: 120px 0;
  background-color: var(--cloud);
}

.section-team .container {
  max-width: 1440px;
  width: 1158px;
  flex-shrink: 0;
  text-align: center;
}

.section-team .list {
  display: flex;
  gap: 24px;
}

.title-team {
  color: var(--navyblue);
  font-size: 36px;
  line-height: 1.11;
  text-align: center;
  letter-spacing: 0.72px;
  text-transform: capitalize;
  margin-bottom: 72px;
}

.team-list {
  background-color: #ffffff;
  display: inline-flex;
  padding-bottom: 0px;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  text-align: center;
  border-radius: 0px 0px 4px 4px;
  flex-basis: calc((100% - 72px) / 4);
  box-shadow: 0px 2px 1px 0px rgba(46, 47, 66, 0.08),
    0px 1px 1px 0px rgba(46, 47, 66, 0.16),
    0px 1px 6px 0px rgba(46, 47, 66, 0.08);
}

.team-list-card {
  padding: 32px 0;
}
.name-card {
  color: var(--navyblue);
  font-weight: var(--weight500);
  font-size: 20px;
  line-height: 1.2;
  letter-spacing: 0.4px;
  text-align: center;
  margin-bottom: 8px;
}

.prof-card {
  color: var(--slate);
  font-size: 16px;
  line-height: 1.5;
  letter-spacing: 0.32px;
  text-align: center;
}
.socialteam-link-list {
  display: flex;
  gap: 24px;
  margin-top: 8px;
  justify-content: center;
}
.social-link-icon {
  width: 40px;
  height: 40px;
  display: flex;
  align-items: center;
  justify-content: center;
  border-radius: 50%;
  background-color: var(--iris);
  transition: background-color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}
.section-team .social-link-icon:hover,
.section-team .social-link-icon:focus {
  background-color: var(--ocean);
}
.team-social-icon {
  fill: var(--cloud);
}
.section-customers .container {
  max-width: 1440px;
  width: 1128px;
  text-align: center;
}
.section-customers {
  padding: 120px 0;
  background-color: var(--white);
}
.title-customers {
  color: var(--navyblue);
  text-align: center;
  font-family: Roboto;
  font-size: 36px;
  line-height: 1.11;
  letter-spacing: 0.72px;
  margin-bottom: 72px;
}
.section-customers .list {
  display: flex;
  gap: 24px;
}
.customers-icon-list {
  display: inline-flex;
  justify-content: center;
  align-items: center;
  flex-basis: calc((100% - 120px) / 6);
}
.customers-icon-link {
  width: 100%;
  height: 88px;
  color: var(--lightslate);
  border-radius: 4px;
  border: 1px solid var(--lightslate);
  display: flex;
  align-items: center;
  justify-content: center;
  transition: border-color 250ms cubic-bezier(0.4, 0, 0.2, 1),
    color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}
.customer-icon {
  fill: currentColor;
}
/* .customer-icon:hover,
.customer-icon:focus {
  fill: var(--ocean);
} */
.customers-icon-link:hover .customer-icon,
.customers-icon-link:focus .customer-icon {
  fill: var(--ocean);
  color: var(--ocean);
  border-color: var(--ocean);
}
.customers-icon-link:hover,
.customers-icon-link:focus {
  fill: var(--ocean);
  color: var(--ocean);
  border-color: var(--ocean);
}
.socialfooter-link-list .social-link-top {
  transition: 250ms cubic-bezier(0.4, 0, 0.2, 1);
}
.footer-info .social-link-icon:hover,
.footer-info .social-link-icon:focus {
  background-color: var(--green);
}
.customer-icon {
  fill: var(--lightslate);
}
.footer-info .container {
  width: 1158px;
  flex-shrink: 0;
  display: flex;
  align-items: baseline;
}
.footer-logo-text .container {
  display: flex;
}

.footer-info {
  background-color: var(--navyblue);
  padding: 0;
  padding: 100px 0;
}

.footer-info .logo {
  display: inline-block;
  margin: 0 0 16px 0;
}
.footer-logo-text {
  margin-right: 120px;
}
.footer-text {
  color: var(--cloud);
  line-height: 1.5;
  letter-spacing: 0.32px;
  width: 264px;
}
/* .footer-social-media {
  margin-left: 120px;
} */
.social-media {
  color: var(--white);
  font-family: Roboto;
  font-size: 16px;
  font-weight: 500;
  line-height: 1.5;
  letter-spacing: 0.32px;
  margin-bottom: 16px;
}
.socialfooter-link-list {
  display: flex;
  gap: 16px;
}

/* Portfolio */
.portfolio-list {
  padding: 96px 0 120px 0;
}

.portfolio-list .container .list-btn {
  display: flex;
  justify-content: center;
  gap: 24px;
  margin-bottom: 72px;
}

.button-portfolio {
  font-family: "Roboto", sans-serif;
  color: var(--iris);
  text-align: center;
  font-size: 16px;
  font-weight: var(--weight500);
  line-height: 1.5;
  letter-spacing: 0.64px;
  background: var(--cloud);
  cursor: pointer;
  padding: 12px 24px;
  border: 1px solid #e7e9fc;
  border-radius: 4px;
  transition: color 250ms cubic-bezier(0.4, 0, 0.2, 1),
    background-color 250ms cubic-bezier(0.4, 0, 0.2, 1),
    border-color 250ms cubic-bezier(0.4, 0, 0.2, 1),
    box-shadow 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.button-portfolio:hover,
.button-portfolio:focus {
  color: #ffffff;
  background: var(--ocean);
  border: 1px solid transparent;
  box-shadow: 0px 2px 2px 0px rgba(0, 0, 0, 0.12),
    0px 2px 1px 0px rgba(0, 0, 0, 0.08), 0px 3px 1px 0px rgba(0, 0, 0, 0.1);
}

.portfolio-list .container .list-make {
  display: flex;
  align-items: flex-start;
  flex-wrap: wrap;
  row-gap: 48px;
  column-gap: 24px;
  text-align: left;
  background: var(--white, #fff);
}

.container-name {
  padding: 32px 16px;
  border: 1px solid #e7e9fc;
  border-top: none;
}
.portfolio-list .page-link {
  display: block;
  transition: box-shadow 250ms cubic-bezier(0.4, 0, 0.2, 1);
}
.list-make-img {
  background: var(--white, #fff);
  width: calc((100% - 48px) / 3);
  transition: box-shadow 250ms cubic-bezier(0.4, 0, 0.2, 1);
}
.portfolio-list .page-link {
  padding: 0;
}
.portfolio-list .page-link:focus,
.portfolio-list .page-link:hover {
  box-shadow: 0px 2px 1px 0px rgba(46, 47, 66, 0.08),
    0px 1px 1px 0px rgba(46, 47, 66, 0.16),
    0px 1px 6px 0px rgba(46, 47, 66, 0.08);
}
.page-link:focus .make-cover-text {
  transform: translateY(0%);
}
.page-link:hover .make-cover-text {
  transform: translateY(0%);
}
.title-make-portfolio {
  color: var(--navyblue);
  font-size: 20px;
  font-weight: var(--weight500);
  line-height: 1.2;
  letter-spacing: 0.4px;
  text-transform: capitalize;
  margin-bottom: 8px;
}
.make-cover-wrap {
  position: relative;
  overflow: hidden;
}
.make-cover-text {
  position: absolute;
  top: 0;
  color: var(--cloud);
  font-family: Roboto;
  font-size: 16px;
  line-height: 1.5;
  letter-spacing: 0.02em;
  padding: 40px 32px;
  background: var(--iris);
  width: 100%;
  height: 100%;
  flex-shrink: 0;
  transform: translateY(100%);
  transition: transform 250ms cubic-bezier(0.4, 0, 0.2, 1);
}
.backdrop {
  position: fixed;
  width: 100%;
  height: 100%;
  background: var(--navyblue-modal);
  top: 0;
  left: 0;
  transition: opacity 250ms cubic-bezier(0.4, 0, 0.2, 1),
    visibility 250ms cubic-bezier(0.4, 0, 0.2, 1);
}
.modal {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  width: 100%;
  max-width: 408px;
  min-height: 584px;
  border-radius: 4px;
  background: var(--dairy, #fcfcfc);
  box-shadow: 0px 2px 1px 0px rgba(0, 0, 0, 0.2),
    0px 1px 3px 0px rgba(0, 0, 0, 0.12), 0px 1px 1px 0px rgba(0, 0, 0, 0.14);
  transition: transform 250ms cubic-bezier(0.4, 0, 0.2, 1);
  padding: 72px 24px 24px 24px;
}
.button-close {
  position: absolute;
  height: 24px;
  width: 24px;
  border-radius: 50%;
  display: flex;
  align-items: center;
  justify-content: center;
  background-color: #e7e9fc;
  border: 1px solid rgba(0, 0, 0, 0.1);
  padding: 0;
  cursor: pointer;
  transition: background-color 250ms cubic-bezier(0.4, 0, 0.2, 1),
    border 250ms cubic-bezier(0.4, 0, 0.2, 1);
  top: 24px;
  right: 24px;
}
.button-close:hover,
.button-close:focus {
  background-color: var(--ocean);
  border: none;
  fill: var(--white);
}
.close-icon {
  transition: fill 250ms cubic-bezier(0.4, 0, 0.2, 1);
}
.is-hidden {
  opacity: 0;
  visibility: hidden;
  pointer-events: none;
}
.modal-title {
  display: inline-block;
  color: var(--navyblue);
  text-align: center;
  font-size: 16px;
  font-weight: var(--weight500);
  line-height: 1.5;
  letter-spacing: 0.02em;
  width: 100%;
  height: 24px;
  margin-bottom: 16px;
}
.modal-field {
  margin-bottom: 8px;
}
.comment {
  margin-bottom: 16px;
}
.modal-input-wrap {
  position: relative;
}
.modal-input {
  width: 100%;
  height: 40px;
  outline: transparent;
  background-color: transparent;
  border-radius: 4px;
  border: 1px solid var(--navyblue-modal);
  padding-left: 38px;
  padding-right: 16px;
  transition: border-color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}
.modal-input:focus {
  border: 1px solid var(--iris);
}
.modal-input:focus + .modal-icon {
  fill: var(--iris);
}
.modal-label {
  display: block;
  margin-bottom: 4px;
  color: var(--lightslate);
  font-size: 12px;
  font-weight: 400;
  line-height: 1.17;
  letter-spacing: 0.04em;
}
.modal-icon {
  fill: var(--navyblue);
  position: absolute;
  left: 16px;
  top: 50%;
  transform: translateY(-50%);
  transition: fill 250ms cubic-bezier(0.4, 0, 0.2, 1);
}
.modal-comment .modal-field {
  margin-bottom: 16px;
}
.modal-comment {
  width: 100%;
  height: 120px;
  color: var(--navyblue-modal, rgba(46, 47, 66, 0.4));
  font-size: 12px;
  font-weight: 400;
  line-height: 1.17;
  letter-spacing: 0.04em;
  padding: 8px 16px;
  outline: transparent;
  background-color: transparent;
  border-radius: 4px;
  border: 1px solid var(--navyblue-modal);
  transition: border-color 250ms cubic-bezier(0.4, 0, 0.2, 1);
  resize: none;
}
.modal-comment:focus {
  border: 1px solid var(--iris);
}
.modal-comment::placeholder {
  color: var(--navyblue-modal, rgba(46, 47, 66, 0.4));
}
.modal-form-btn {
  margin-top: 24px;
}

.modal-policy {
  display: flex;
  position: relative;
  margin-bottom: 24px;
  /* gap: 8px; */
}
/* .visually-hidden:checked {
  background-color: var(--ocean);
  border: none;
  fill: var(--cloud);
} */
.checkbox:checked + .modal-accept .checked-icon {
  background-color: var(--ocean);
  border: none;
  fill: var(--cloud);
}

.modal-accept {
  color: var(--lightslate);
  font-size: 12px;
  font-weight: 400;
  line-height: 1.17;
  letter-spacing: 0.04em;
}
.accept-policy {
  color: var(--iris);
  font-size: 12px;
  font-weight: 400;
  line-height: 1.33;
  letter-spacing: 0.04em;
  text-decoration-line: underline;
}
.checked-icon {
  width: 16px;
  height: 16px;
  border: 1px solid rgba(46, 47, 66, 0.4);
  border-radius: 2px;
  transition: background-color 250ms cubic-bezier(0.4, 0, 0.2, 1),
    border 250ms cubic-bezier(0.4, 0, 0.2, 1),
    fill 250ms cubic-bezier(0.4, 0, 0.2, 1);
  display: inline-flex;
  align-items: center;
  justify-content: center;
  fill: transparent;
  margin-right: 8px;
}
.mail-subscribe {
  margin-left: 80px;
}
.form-mail {
  display: flex;
  gap: 24px;
  position: relative;
}
.subscribe-text {
  margin-bottom: 16px;
  color: var(--white, #fff);
  font-size: 16px;
  font-weight: var(--weight500);
  line-height: 1.5;
  letter-spacing: 0.02em;
}
.form-input {
  width: 264px;
  height: 40px;
  border: 1px solid var(--white);
  background-color: transparent;
  font-size: 12px;
  line-height: 1.5;
  letter-spacing: 0.04em;
  padding-left: 16px;
  filter: drop-shadow(0px 4px 4px rgba(0, 0, 0, 0.15));
  border-radius: 4px;
  color: var(--white);
}
.form-input::placeholder {
  color: var(--white);
}
.form-button {
  position: absolute;
  border: none;
  min-width: 165px;
  height: 40px;
  display: flex;
  justify-content: center;
  align-items: center;
  font-family: "Roboto", sans-serif;
  font-size: 16px;
  font-weight: var(--weight500);
  line-height: 1.5;
  letter-spacing: 0.04em;
  color: var(--white);
  cursor: pointer;
  background-color: var(--iris);
  border: none;
  border-radius: 4px;
  left: 288px;
  top: 50%;
  transform: translateY(-50%);
}
.subscribe-icon {
  margin-left: 16px;
  fill: var(--white);
}
